:root {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #1b1d21;

    
    --background-color: #780D73;
    --gray-color: #6B6B6B;
    --darkgray-color: #444;
    --golden-hover: #dc9a0e;
    --gray-border: rgb(212, 212, 212);
    --green-color: #1F8C31;

    --titles-font: 'Amatic SC', cursive;
    --content-font: 'Nunito Sans', sans-serif;
    --product-font: 'Montserrat', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

h1, h2 {  
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
} 

h3, h4, h5 ,h6 {

}

span {
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.white {
    color: white;
}

.simple-link {
    transition: .4s ease;
}

.simple-link:hover {
    color: #81d742;
}

.simple-button {
    padding: 15px 30px;
    color: white;
    background-color: var(--green-color);
    border: 1px solid var(--green-color);
    border-radius: 5px;
}

.simple-button-negative {
    padding: 15px 30px;
    color: var(--green-color);
    background-color: transparent;
    border: 1px solid var(--green-color);
    border-radius: 5px;
}

img {
    max-width: 100%;
}

header {
    box-sizing: border-box;
    position: fixed;
    padding-left: 5%;
    padding-right: 5%;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.233);
    z-index: 5;
}

header .main-logo {
    display: block;
    width: 100px;
}

header .toogle-navbar {
    cursor: pointer;
}

header .toogle-navbar > div {
    width: 30px;
    height: 5px;
    background-color: #1b1d21;
    margin-bottom: 4px;
    border-radius: 2px;
}

header nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
}

header > nav > ul > li{
    float: left;
    padding: 10px 0px;
    font-size: .8rem;
    position: relative;
    overflow: hidden;
}

header .extra-menu {
    /* max-height: 0px; */
    transform-origin: top;
    overflow: hidden;
    display: flex;
    text-align: left;
    box-sizing: content-box;
    padding: 0px 0px 0px 20px;
    flex-direction: column;
    position: absolute;
    left: -20px;
    top: 105%;  
    width: 120%;
    background-color: white;
    font-size: .7rem;
    border-radius: 4px;
    transition: .4s ease;
}

header .extra-menu a {
    transition: all .3s ease-in;
}

header .extra-menu a:hover {
    content: "test";
    color: var(--background-color);
}

header .extra-menu li {
    padding: 7px 12px;  
    margin: 0px;
    box-sizing: border-box;
}

header .arrow {
    color: var(--background-color);
    margin-bottom: 2px;
}

header > nav >  ul > li > a {
    padding: 10px 15px;
    transition: .4s ease;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
}

header > nav > ul > li > a:hover {
    border-bottom: 3px solid var(--background-color);
}

header .icons {
    font-size: 1.4rem;
}

.main-banner {
    padding-top: 60px;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-title {
    color: var(--background-color);
    font-size: 5rem;
    margin-bottom: 20px;
}

.main-banner > .text {
    /* text-align: left; */
    width: 350px;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translateY(-50%);
}

.main-banner > .text > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.responsive-margin {
    padding-left: 10%;
    padding-right: 10%;
}

.section {
    box-sizing: border-box;
    width: 100%;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 70px;
    margin-bottom: 70px;
}

.extra-text {
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--background-color);
    color: white;
}

.extra-text > * {
    margin-left: 20px;
    margin-right: 20px;
}

.section-title {
    font-size: 2.2rem;
}

.background-title {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10px;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-darkened {
    transition: .5s ease-out;
}

.background-darkened:hover {
    background-color: rgb(156, 156, 156);
    background-blend-mode: multiply;
}

.section .section-icon {
    width: 60px;
    margin: auto;
}

span.section-span {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: .125rem;
    color: var(--gray-color);
}

.product-slider {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;  
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--gray-border);
    padding: 15px;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}

.product-card p {
    font-weight: 700;
    color: var(--darkgray-color);
    margin: 5px;
}

.product-card .price {
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--background-color);
}

.product-card-button {
    text-transform: uppercase;
    padding: 7px 10px;
    font-weight: 700;
    border-radius: 20px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid var(--gray-border);
    transition: .5s ease;
    cursor: pointer;
}

.product-card-button:hover {
    color: var(--golden-hover);
}

.buy-button {
    background-color: var(--background-color);
    color: white;
    padding: 10px 25px;
    font-size: .9rem;
    font-weight: 700;
    border-radius: 20px;
    text-transform: uppercase;
}

.category-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}

.category-card {
    text-transform: uppercase;
    font-weight: 400;
    height: auto;
}

.category-card span {
    display: block;
    margin-top: 10px;

}

.category-card strong {
    color: var(--green-color);
    font-weight: 600;
    
}

.combo-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;

}

.combo-card {
    position: relative;
    width: 23%;
    background-position: top;
}

.combo-card * {
    position: relative;
    z-index: 2;
}

.combo-card h3 {
    font-size: 1.6rem;
    font-weight: 900;
}

.combo-card .square {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:white;
    width:100%;
    border-radius: 50%;
    padding-bottom:100%;
    z-index: 0;
}

.values-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.values-container > a {
    display: block;
    position: relative;
    width: 25%;
    height: 300px;
    overflow: hidden;
}

.values-container > a > h2 {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s ease-out;
}

.values-container > a:hover h2 {
    top: 45%;
}

footer {
    background-color: var(--background-color);
    color: white;
    font-size: .9rem;
}

footer svg {
    fill: white;
}

footer h3{
    font-family: var(--titles-font);
    font-size: 1.4rem;
    line-height: 1rem;
}

footer h4 {
    font-family: var(--product-font);
}

.footer-features {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}

.footer-features > div {
    display: flex;
    width: 22%;
    align-items: center;
}

.footer-features > div figure {
    width: 50%;
    height: auto;
}

footer .lists {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

/* footer .lists > * {
    margin: 40px;
} */

footer ul{
    padding-left: 5px;
}

footer .contact h4 {
    margin-bottom: 5px;
}

footer .icons {
    margin-top: 20px;
    margin-right: 15px;
}

footer .copyright {
    background-color: black;
    color: white;
    padding: 5px;
    
}

@media only screen and (max-width: 1080px) {

    .medium-toggle {
        display: none;
    }

    .product-slider {

    }
    /* CATEGORY */ 

    .category-container {
        padding-left: 15%;
        padding-right: 15%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .category-card {
        width: 45%;
        margin-bottom: 40px;
    }

    /* COMOBOS */

    .combo-container {
        
        padding-left: 15%;
        padding-right: 15%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .combo-card {
        width: 45%;
        margin-bottom: 40px;
    }

    .combo-card h3 {
        margin: 0px;
    }


    /* VALUES */

    .values-container {
        padding-left: 20%;
        padding-right: 20%;
        flex-wrap: wrap;
    }
    
    .values-container > a {
        width: 50%;
    }

    .footer-features {
        padding-left: 20%;
        padding-right: 20%;
        flex-wrap: wrap;
    }

    .footer-features > div {
        flex-direction: column;
        width: 45%;
    }

    .footer-features > div img {
        width: 60%;
    }

}

@media only screen and (min-width: 750px) {
    header .toogle-navbar {
        display: none;
    }

    header .extra-menu {  
        transform: scaleY(0);
    }

    header li:hover > .extra-menu { 
        /* max-height: 300px; */
        transform: scaleY(1);
    }

    .main-banner > .text {
        text-align: left;
    }

    footer .lists > * {
        margin: 40px;
    }
}

@media only screen and (max-width: 750px) {

    .small-toggle {
        display: none;
    }

    header {
        position: relative;
        flex-direction: column;
        width: 100%;
        background-color: white;
    }

    header > .first-part {
        width: 100%;
        display: flex;      
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid black; */
        padding: 10px;
    }

    header nav {
        width: 90%;
        margin: auto;
        flex-direction: column;     
    }

    header nav > ul {
        padding: 0px;
    }

    header nav > .navigation-links > li {
        width: 100%;
    }

    header nav > .navigation-links > li > a {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    header .extra-menu {
        position: static;
    }

    .main-banner > .text {
        width: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-banner > .text > div {
        flex-direction: column;
    }

    .main-banner > .text > div > * {
        margin: 10px;
    }

    .product-slider {
        margin: auto;
        flex-direction: column;   
        align-items: center;  
    }

    .category-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .combo-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .values-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .footer-features {
        padding-left: 5%;
        padding-right: 5%;
    }


    /* VALUES */


    footer .lists {
        flex-direction: column;
    }
}




